* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Jaldi", sans-serif;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #14164A;
    color: #FFFEFE;
    padding: 3rem 1rem;
    font-size: 24px;
    height: 8rem;
}

.home-icon {
    width: 3.5rem;
}

nav > ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fffefe;
}

.logo {
    width: 15rem;
    height: auto;
    margin: 0;
}

.yellow-bar {
    display: inline-block;
    border-bottom: 1px solid #EECC1C;
    width: 3.75rem;
}


.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text p {
    padding: 0 15px;
    text-transform: uppercase;
}

.search {
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
}

.search-bar {
    border: none;
}

.search-icon {
    width: 2.5rem;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

label {
    display: block;
}

input {
    padding: 1rem 0.75rem;
    width: 100%;
}


.name-section {
    display: inline-block;
    
    /* flex-direction: column; */
}

#first-name,
#last-name {
    width: 100%;
}

section {
    padding: 0.5rem 0;
}

textarea {
    width: 100%;
}

input[type=submit] {
    padding: 0.75rem 1rem;   
    border: none;
    width: 30%;
}

span {
    color: red;
}

/********* Media Queries ***************/

@media (max-width: 815px) {

    body {
        background: #bdbdbd;
        /* width: 600px; */

    }

    .container {
        /* width: 500px; */
        padding: 1rem;
        margin: 1rem;
    }

    nav {
        width: 100%;

    }

    .toggle-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    
    a > .toggle {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
    }

    ul > li {
        display: none;
    }

    .search {
        display: none;
    }

    img {
        max-width: 100%;
    }

    h1 {
        padding: 1rem;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .name-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    hr {
        margin: 3rem 0;

}
}

@media (min-width: 816px) and (max-width:1275px ) {
    body {
        font-size: 16px;
    }

    .container {
        margin: 2rem 10rem;
    }


    .toggle-button {
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    
    a > .toggle {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
    }

    ul > li {
        display: none;
    }

    .under-pass {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 1276px) and (max-width:1700px ) {
   
    body {
        font-size: 16px;
    }

    .container {
        margin: 2rem 20rem;
    }

    nav {
        width: 100%;
    }

    .search-bar {
        display: none;
    }

    
   
}

@media (min-width: 1701px) {
    
    .name-section {
        display: inline-block;
        
        /* flex-direction: column; */
    }
}

