* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 18px;
    font-family: "Jaldi", sans-serif;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #14164A;
    color: #FFFEFE;
    padding: 3rem 1rem;
    font-size: 24px;
    height: 8rem;
}

.home-icon {
    width: 3.5rem;
}

ul > li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: #fffefe;
}

.logo {
    width: 15rem;
    height: auto;
    margin: 0;
}

.yellow-bar {
    display: inline-block;
    border-bottom: 1px solid #EECC1C;
    width: 3.75rem;
}


.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text p {
    padding: 0 15px;
    text-transform: uppercase;
}

.search {
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
}

.search-bar {
    border: none;
}

.search-icon {
    width: 2.5rem;
    padding: 0;
    margin: 0;
}


.sub-nav {
    display: flex;
    justify-content: center;
}

.sub-nav > ul {
    background: none;
    color: #000;
    display: inline;
    text-align: center;
    padding: 2.5rem;
}

.sub-nav > ul > li {
    list-style-type: none;
    display: inline;
    padding: 0 2.5rem;
    text-transform: uppercase;
}

.container {
    width: 100%;
    padding: 1rem 5rem;
}

.container > h2 {
    text-transform: uppercase;
    padding: 1rem 0 2rem;
}

.book-grid {
    display: grid;
    grid-template-columns:   1fr 1fr 1fr 1fr 1fr;
    padding: 0 2rem;
}

.book-grid > img {
    width: 250px;
    height: 350px;
}

 img {
    width: 15rem;
    height: auto;
}

/********* Media Queries ***************/

@media (max-width: 815px) {

    body {
        background: #bdbdbd;
        /* width: 600px; */

    }

    .container {
        /* width: 500px; */
        padding: 1rem;
        margin: 1rem;
    }

    nav {
        width: 100%;

    }

    .toggle-button {
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    
    a > .toggle {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
    }

    ul > li {
        display: none;
    }

    .search {
        display: none;
    }

    .sub-nav > ul {
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sub-nav > ul > li {
        display: inline;
        padding: 0 1rem;
    }

    img {
        max-width: 100%;
    }

    h1 {
        padding: 1rem;
        text-align: center;
    }

    .book-grid {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
}

@media (min-width: 816px) and (max-width:1305px ) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 1rem;
    }

    .sub-nav > ul {
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sub-nav > ul > li {
        display: inline;
        padding: 0 1rem;
    }

    .toggle-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 21px;
    }
    
    a > .toggle {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
    }

    ul > li {
        display: none;
    }

    #menu-bars {
        width: 50px;
    }

    .book-grid {
        display: flex;
        padding: 0;
    }

    .grid-book > img {
        width: 10rem;
    }

    .doc-book {
        width: 10rem;
    }
}

@media (min-width: 1306px) and (max-width:1700px ) {
   
    body {
        font-size: 16px;
    }

    .container {
        margin: 0;
    }

    nav {
        width: 100%;
    }

    li {
        list-style-type: none;
    }

    .search-bar {
        display: none;
    }

    

    .sub-nav > ul {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
    }

    .sub-nav > ul > li {
        display: inline;
        padding: 0 1.5rem;
    }

    .book-grid {
        display: flex;
        padding: 0;
    }


}

@media (min-width: 1701px) {
    

}

